/* Created by: Emre Guzel
* Created on: March 31 2025
* This file contains the CSS for index.html
*/

html {
  font-size: 15px;
}

body {
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: skyblue;
}

.container {
  margin-left: 10em;
  display: flex;
}

.formula-tittle {
  font-size: 2.3rem;
}

.formula {
  font-size: 1.5rem;
}

.number {
  color: black;
  font-weight: 900;
  font-style: bold;
  font-size: 1.5rem;
  margin-bottom: 0;

}

.Calculate {
  width: 27%;
  text-align: center;
  margin-top: 6vw;
  margin-left: 50vw;
  margin-top: 10rem;
}

#perimeter {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
}

#area {
  color: black;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.base-a {
  margin: 0;

}

#base-a {
  align-items: center;

}

.celsius {
  font-size: 1.2rem;
}

.Fahrenheit {
  font-size: 1.3rem;
}